.bg-color {
    background-color: red;
}

.search-container {
    float: right;

    input {
        height: 36px;
        width: 20vw;
        padding: 6px 15px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        border-radius: 8px 0 0 8px;
    }

    button {
        height: 36px;
        float: right;
        padding: 10px 15px;
        margin-top: 8px;
        background: #ffffff;
        font-size: 17px;
        border: none;
        cursor: pointer;
        border-radius: 0 8px 8px 0;
    }
}

.o_auction_header img {
    cursor: pointer;
    height: 65px;
}